Test
{{#if model.profiles}}
  <div class="pink darken-1">
    <div class="col s6 center">
      Current State:
      {{#if model.profiles.places}}
        Current Place: {{model.places.name}}
      {{else}}

      {{/if}}
    </div>
    <div class="col s6 center">
      {{!-- Current Report: {{model.report.title}} --}}
    </div>
  </div>
{{/if}}