<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <img src="http://www.mapc.org/sites/default/files/mapc_logo.png" class="right" />
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>
{{yield}}
