<nav class="header white" role="navigation">
  <div class="nav-wrapper container">{{#link-to 'application'}}<a id="logo-container" href="" class="brand-logo"><img src="images/knowplace-06.png"/></a>{{/link-to}}
    <ul class="right hide-on-med-and-down">
      {{#if session.isAuthenticated}}
      <li>
        {{#link-to 'users.show'}} {{session.account.email}} {{/link-to}}
      </li>
      <li>
        {{#link-to 'logout'}}Logout{{/link-to}}
      </li>
      {{else}}
          {{#link-to 'login'}}Login/Register{{/link-to}}
      {{/if}}
    </ul>
    <ul id="nav-mobile" class="side-nav black-text">
      <li>
        {{#if session.isAuthenticated}}
            {{#link-to 'logout'}}Logout{{/link-to}}
        {{else}}
            {{#link-to 'login'}}Login/Register{{/link-to}}
        {{/if}}
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

{{yield}}
