<nav class="header black" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">  {{#link-to 'application'}} <i class="left material-icons">create</i> Neighborhood Drawing Tool{{/link-to}}</a>
    <ul class="right hide-on-med-and-down">
      <li>
        {{#if session.isAuthenticated}}
            {{#link-to 'logout'}}Logout{{/link-to}}
        {{else}}
            {{#link-to 'login'}}Login/Register{{/link-to}}
        {{/if}}
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        {{#if session.isAuthenticated}}
            {{#link-to 'logout'}}Logout{{/link-to}}
        {{else}}
            {{#link-to 'login'}}Login/Register{{/link-to}}
        {{/if}}
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

{{yield}}
