<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="valign">
      <p class="flow-text">{{render-newline message}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Okay!</a>
  </div>
</div>
{{yield}}