

{{!--   <ul class="slides slider-height">
    <li>
      <img src="http://mfia.live.mapc.org/images/img-Study%20Area%20Boundary%20Map.png?style=large"> <!-- random image -->
      <div class="caption center-align">
        <h3>Equitable Transit Oriented Development Report</h3>
        <h5 class="light grey-text text-lighten-3">Generate a custom TOD report for your neighborhood.</h5>
      </div>
    </li>
    <li>
      <img src="http://mfia.live.mapc.org/images/img-Heat_Impacts.jpg?style=large"> <!-- random image -->
      <div class="caption left-align">
        <h3>Prosperity Indicators</h3>
        <h5 class="light grey-text text-lighten-3">What's the state of equity for your neighborhood?</h5>
      </div>
    </li>
    <li>
      <img src="http://mfia.live.mapc.org/images/img-Beverly.jpg?style=large"> <!-- random image -->
      <div class="caption right-align">
        <h3>Housing Needs Assessment</h3>
        <h5 class="light grey-text text-lighten-3">Generate a report on housing needs in your area.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
      <div class="caption center-align">
        <h3>Neighborhood Change Report</h3>
        <h5 class="light grey-text text-lighten-3">What's happening in your area? Generate a report to find out.</h5>
      </div>
    </li>
  </ul> --}}
