@import 'bower_components/materialize/sass/components/color';
@import 'bower_components/materialize/sass/components/variables';
 
// Custom color settings go here 
$primary-color: color("pink", "lighten-2");
 
@import 'bower_components/materialize/sass/materialize';
@import 'node_modules/ember-cli-materialize/app/styles/ember-cli-materialize';
@import 'app/styles/icons';
@import 'colors';
// @import 'leaflet.draw.css';

#map {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

nav {
  ul {
    a {
      color: #444;
    }
  }
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  line-height: 80px;
}

.profile-carousel-data {
  position: absolute;
  top: 100px;
  z-index: 997;
  width: 100%;
}

.brand-logo {
  line-height: 0px;
}

.profile-carousel-data-view {
  position: absolute;
  top: 100px;
  z-index: 997;
  width:70%;
  margin: 10px;
}

.data-table {
  font-weight: 300;
  td {
    padding: 0px;
  }
}

.table-container {
  width: 50%;
  td {
    padding: 0px;
  }
}

.leaflet-control-attribution {
  display: none;
}

#index-splash {
  padding-top: 0;
}

.divider {
  border-top:1px solid #e0e0e0;
}

@media screen and ( min-height: 750px ){
  .slider-height {
    height: calc(100vh - 210px) !important;
  }
}

@media screen and ( max-height: 750px ){
  .slider-height {
    height: 600px;
  }
}



.place-map {
  height: 500px;
  padding: 0 !important;
  margin: 0;
}

.place-map-profile {
  height: 400px;
}

.fill-map {
  padding: 0;
  margin: 0;
  height: 100%;
}

.bread-crumbs {
  background-color: rgba(35, 185, 169, .9);
  margin-bottom: 0px;
  min-height:100px;
}

.bread-crumbs-fixed {
  position: fixed;
  width: 100%;
  bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  z-index:1000;
}

.leaflet-draw-tooltip {
  font-size: 1.5em;
}

.header {
  height:80px;
}

.navbar-fixed {
  height:80px;
}

// .section-push {
//   top: 50px;
// }