@import 'bower_components/materialize/sass/components/color';
@import 'bower_components/materialize/sass/components/variables';
@import 'bower_components/semantic-ui-divider/divider.css';
 
// Custom color settings go here 
$primary-color: color("pink", "lighten-2");
 
@import 'bower_components/materialize/sass/materialize';
@import 'node_modules/ember-cli-materialize/app/styles/ember-cli-materialize';
// @import 'leaflet.draw.css';

#map {
  width: 100%;
  height: 100%;
}

.leaflet-control-attribution {
  display: none;
}

#index-splash {
  padding-top: 0;
}

.slider-height {
  height: calc(100vh - 250px) !important;
}

.place-map {
  height: 500px;
  padding: 0 !important;
  margin: 0;
}

.fill-map {
  padding: 0;
  margin: 0;
  height: 100%;
}

.bread-crumbs {
  margin-bottom: 0px;
}
// .header {
//   background-color: rgba(0,0,0,0);
//   position: absolute;
//   z-index: 1000;
// }

// .section-push {
//   top: 50px;
// }