{{!-- <div class="container section"> --}}
  <div class="row">
    <div class="col s12 m8 l10 place-map slider-height">
      {{map-create geometry=this.model.place.geometry underlying=this.model.place.underlying}}
    </div>
    <div class="col s12 m4 l2">
      {{outlet}}
    </div>
  </div>
{{!-- </div> --}}
{{message-modal-component message="To create a new Place, select the pen tool on the left of the map and draw a shape around the boundaries of your area. When you close the shape it will complete your area.

The map will highlight Census Tracts that intersect your area and that will be used to aggregate the data you choose for your Profile. 

You can zoom and pan using the buttons on the left of the map, and you can edit the vertices of your area by clicking the 'Edit Area' button on the left."}}
{{#unless session.isAuthenticated}}
  {{#message-modal-component as |someAction|}}
    {{user-authentication closeModal=someAction}}
  {{/message-modal-component}}
{{/unless}}