{{!-- <div class="container section"> --}}
  <div class="row">
    <div class="col s12 m8 l10 place-map slider-height">
      {{map-create geometry=this.model.place.geometry underlying=this.model.place.underlying}}
    </div>
    <div class="col s12 m4 l2">
      {{outlet}}
    </div>
  </div>
{{!-- </div> --}}
