<div class="container section">
  <div class="collection">
    {{#each model as |profile|}}
      {{!-- <a class="collection-item"> --}}
      {{#link-to 'profile' profile class="collection-item"}}
        {{profile.title}}
      {{/link-to}}
      {{!-- </a> --}}
    {{/each}}
  </div>
</div>