<h1>Choose/create a place and report</h1>

<div class="section">
  <button class='waves-effect waves-light btn' {{action 'instantiateProfile'}}>Create Profile</button>
</div>

{{#each model.places as |place|}}
TEST
{{/each}}

{{outlet}}