<div class="row">
  <div class="col s12">
    <h1>{{model.title}}</h1>
    <p>{{model.description}}</p>
    DataPoints:
    <ul class="collection">
      <li class="collection-item">Walkshed Score</li>
      <li class="collection-item">WalkScore</li>
      <li class="collection-item">Income</li>
      <li class="collection-item">Households</li>
    </ul>
  </div>
  <div class="col s12">
    {{!-- {{profiles-list-modal profiles=this.profiles model=this.model}} --}}
    <a {{action "saveReport" model}} href="#!" class="modal-action modal-close waves-effect waves-green btn">Add to Profile</a>
  </div>
</div>