<div class="container">
  <h3>Reports: Find Information About Your Place</h3>
  <p>We have compiled several Focused Profiles that cover topics such as affordable housing, neighborhood change, and transit-oriented development.</p>
  <div class="row">
    <div class="col s12 m12 l5">
      <form {{action "search" on="submit"}}>
        {{input value=q placeholder="search"}}
      </form>
      <div class="collection">
      {{#each this.model.reports as |report|}}
        {{!-- <a class="collection-item"> --}}
        {{#link-to 'reports.search.show' report class="collection-item"}}
          {{report.title}}
        {{/link-to}}
        {{!-- </a> --}}
      {{/each}}
      </div>
    </div>
    <div class="col s12 m12 l7">
      {{outlet}}
    </div>
  </div>
</div>