{{header-nav}}

<div class="section" id="index-splash">
  {{!-- <div class="container"> --}}
    {{outlet}}
  {{!-- </div> --}}
</div>

{{footer-section}}
{{!-- {{atatus-implementation}} --}} {{!-- implement in production --}}
