<div class="slider-height">
  {{map-view zoomControl=false scrollWheelZoom=false}}
</div>
<div class="container section">
  <h5>The Neighborhood Drawing Tool features dozens of custom reports on any area of your choosing.</h5>
  <div class="row">
    <form class="col s12" {{action "search" on="submit"}}>
      <div class="row">
        <div class="input-field col l10 s12">
          {{input value=criteria id="search_crit" type="text" size="50" autofocus="true"}}
          <label for="search_crit">Search for a Geography</label>
        </div>
        <div class="input-field col l2 s12">
          <a class="waves-effect waves-light btn" {{action "search"}}>Go</a>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col l6 s12">
      <div class="row">
        <div class="col l12 s12 center-align">
          <i class="material-icons large">border_clear</i>
        </div>
        <div class="col l12 s12 center-align">
          {{!-- <a class="waves-effect waves-light btn">Create</a> --}}
          {{#link-to 'places.create.new' class="waves-effect waves-light btn"}}Create Place{{/link-to}}
        </div>
      </div>
    </div>
    <div class="col l6 s12">
      <div class="row">
        <div class="col l12 s12 center-align">
          <i class="material-icons large">layers</i>
        </div>
        <div class="col l12 s12 center-align">
          {{#link-to 'reports.search' class="waves-effect waves-light btn"}}Browse Reports{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>