<div class="section">
  Profile-creation state:
  {{model.title}}
</div>
<div class="section">
  <div class="row">
    <div class="col s6 center">
      {{#link-to 'places.search' class='waves-effect waves-light btn'}}Add a Place{{/link-to}}
      {{model.place.name}}
{{!--       {{#each model.places as |place|}}
        {{place.name}}
      {{/each}} --}}
    </div>
    <div class="col s6 center">
      {{#link-to 'reports.search' class='waves-effect waves-light btn'}}Add a Report{{/link-to}}
    </div>
  </div>
  {{outlet}}
</div>